<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto expirando hoje</title>
  <style>
   body {
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .top {
      background-color: blueviolet;
      width: 700px;
      padding: 5px 40px;
      text-align: center;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
    }
    .body {
      width: 700px;
      padding: 30px 40px;
      background-color: #fbfbfc;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.171);
    }
    .down {
      background-color: blueviolet;
      width: 700px;
      padding: 7px 40px;
      text-align: center;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
      color: #FFF;
    }
    h1 {
      color: #FFF;
      font-size: 30pt;
    }
    span {
      color: blueviolet;
    }
    a {
      font-weight: bold;
      color: blueviolet;
      font-size: 16pt;
      text-decoration: none;
      transition: color 0.2s;
    }
    a:hover {
      color: rgb(167, 118, 212);
    }
  </style>
</head>
<body>
  <center>

  <div class="top">
    <h1>Projeto expirando hoje</h1>
  </div>

  <div class="body">

    <h2>Olá, <span>{{ first_name }}</span> tudo bom?!</h2>  

    <h3>Olha o prazo do seu projeto <span>{{ title }}</span> expira <span>HOJE!</span></h3>

    <a href="https://myproject-five.now.sh/project/{{ id }}">Ver detalhes do projeto</a>

  </div>

  <div class="down">
    &copy; Call Boys Ltda. Todos os Direitos Reservados.
  </div>
  </center>
</body>
</html>